<section class="bg-blue-900 text-white py-20">
  <div class="container mx-auto px-6">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">breakmybank</h1>
    <p class="text-lg md:text-xl">
      breakmybank parses 10-K/20-F statements and gives you an overview of the reports.
    </p>
  </div>
</section>

<div class="container mx-auto px-6 py-10">
  Enter a valid SEC ticker:

  <%= form_with model: @report, local: true, class: "space-y-4" do |form| %>
    <div class="flex items-center">
      <%= form.text_field :ticker, placeholder: "AAPL", class: "border border-gray-300 rounded-l-md shadow-sm" %>
      <%= form.submit "Search", class: "ml-2 px-4 py-2 border border-transparent rounded-r-md shadow-sm text-sm font-medium text-white bg-blue-900" %>
  </div>
<% end %>
</div>
